.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.views {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  width: 100vw;
  height: 100px;
  background-color: #455A64;
  color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 20px;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}
header img {
  height: 50px;
  width: 50px;
  align-self: flex-end;
  position: absolute;
  right: 5%;
  top: 30px;
  cursor: pointer;
}
button.showAll {
  background-color: #1A237E;
  color: #FFFFFF;
  height: 150px;
  width: 300px;
  font-size: 2em;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 15px;
  align-self: center;
  left: 50%;
  margin-top: 200px;
  border: 0; 
}
.showAll a {
  color: #FFFFFF;
}
.booksHeader {
  background-color: #90A4AE;
  color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
  height: 80px;
  display: flex;
  flex-direction: row;
  padding: 5px 50px;
  align-items: center;
  justify-content: flex-start;
}
.lastModified {
  margin: 0 20px;
}
.bookBoard {
  width: 80%;
  height: 500px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}
.bookCard {
  background-color: pink;
  width: 30%;
  height: 200px;
  margin: 20px;
}