<div class='booksHeader'>
  <h2>Bestsellers</h2>
  <span class='lastModified'><i>last modified {{lastModified}}</i></span>
</div>
<div class='sortBy'>
  <span>Sort by</span>
  <form>
    <input type="radio" ng-model="selected" value="title"> title <br>
    <input type="radio" ng-model="selected" value="author"> author <br>
    <input type="radio" ng-model="selected" value="rank"> rank this week <br>
    <input type="radio" ng-model="selected" value="rank_last_week"> rank last week
  </form>
</div>


<div class='bookBoard'>
  <div class='bookCard' ng-repeat="book in books | filter: filterFunction | orderBy: selected" >
    <h3>{{book.title}}</h3>
    <span class='author'>Author: <i>{{book.author}}</i></span>
    <div class='rankingSection'>
      <div class='rank'>
        <p>Rank this week</p>
        <p>{{book.rank}}</p>
      </div>
      <img ng-if='book.down' src='down.png' />
      <img ng-if='book.same' src='minus.png' />
      <img ng-if='book.up' src='up.png' />
      <div class='rank'>
        <p>Rank last week</p>
        <p>{{book.rank_last_week}}</p>
      </div>
    </div>
  </div>
</div>
